<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center">
                    <i class="fa-light fa-location-dot"></i>
                    texto de ejemplo
                </h4>
            </div>
            <div class="col-md-6 text-center">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa-light fa-location-dot"></i>Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                      </li>
                </ul>    
            </div>
        </div>
    </div>
</footer>
